<div class="container" style="height: 50px">
     <p>
        <a href="{% url 'customer_login' %}" class="btn btn-primary">Sign In</a>

        <a href="{% url 'customer_register' %}" class="btn btn-danger ">Sign Up</a>
      </p>

  <div class="input-group input-group-lg">
  <div class="input-group-prepend">
    <span class="input-group-text" id="inputGroup-sizing-lg">Search</span>
  </div>
  <input type="text" class="form-control" aria-label="Sizing example input" aria-describedby="inputGroup-sizing-lg">
</div>

    </div>